h4{
  color: black;
  font-size: 120%;
}

.modal-header, .modal-footer{
  background-color: darkgray;
}

.modal-body {
   background-image: url(https://media0.giphy.com/media/INheTmi5jomT6/200_s.gif);
   background-position: center top;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   color: white;
   text-shadow: 0 0 3px green;
}

.payment{
  color: green;
}

#returnMovieBtn{
  text-align: left;
  background-color: green;
  border-radius: 8px;
  color: white;
}

#returnMovieBtn:disabled{
  background-color: darkgrey;
}

.btn{
  background-color: red;
  border-radius: 8px;
  color: white;
}

label{
  font-size: 125%;
}
