<div id="movieReturnModalWindow" class="modal fade" role="dialog" *ngIf='rent'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Return Movie</h4>
      </div>
      <div class="modal-body">
        <div class="rating">
          <label for="stars">Rating</label>
          <rating id='stars' [(ngModel)]="currentRating" [float]='true' ngDefaultControl></rating>
        </div>
        <form #returnMovieForm='ngForm'>
          <div class="form-group">
            <label for="borrower">Borrower</label>
            <input borrowerName type="text" class="form-control" id="borrower" [(ngModel)]='rent.borrower' name="borrower" readonly/>
          </div>
          <div class="form-group">
            <label for="movie">Movie Title</label>
            <input type="text" class="form-control" id="movie" [(ngModel)]='rent.movieTitle' name="movie" readonly/>
          </div>
          <div class="form-group">
            <label for="returnDate">Return Date</label>
            <input data-fv-date="true" [min]='rent.lendDate' class="form-control" id="returnDate" type="date" [(ngModel)]='rent.returnDate' name="returnDate" #returnDate='ngModel' required/>
            <div *ngIf="returnDate.errors && (returnDate.dirty || returnDate.touched)" class="alert alert-danger">
              <div [hidden]='!returnDate.errors.required'>
                Return date is required!
              </div>
              <div [hidden]='!returnDate.errors.min'>
                Return date cannot be before lend date!
              </div>
            </div>
          </div>
          <div class="checkbox">
            <label><input id="unrewindedTape" type="checkbox" [(ngModel)]='rent.unrewindedTape' name="unrewindedTape" value="false">Unrewinded Tape</label>
          </div>
          <div class="checkbox">
            <label><input id="brokenTape" type="checkbox" [(ngModel)]='rent.brokenTape' name="brokenTape" value="false">Broken Tape</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="returnMovieBtn" [disabled]='!returnMovieForm.form.valid' type="submit" class="btn btn-default" data-dismiss="modal" (click)='returnMovie(rent);_rentService.fbGetListOfRentedMovie();'>Return Movie</button>
        <label class="payment">Total Amount: {{calculateAmount(rent) | currency:'USD':true:'1.2-2' }}</label>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
