<div id="movieInfoModalWindow" class="modal fade" role="dialog" *ngIf='movie'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">"{{movie.title}}" movie info</h4>
      </div>
      <div class="modal-body">
        <div class="wrapper">
          <div class="info">
            <div>Title: {{movie.title}}</div>
            <div>Director: {{movie.director}}</div>
            <div>Release date: {{movie.releasedDate | date}}</div>
            <div>Gener: {{movie.genre}}</div>
            <div>Price: {{movie.price | currency:'USD':true:'1.2-2' }}</div>
            <div>
              <div>Rating:</div>
              <div>
                <rating id='stars' [(ngModel)]="movie.rating" [readonly]="true" [float]="true" ngDefaultControl></rating>
              </div>
            </div>
            <div>Status: {{movie.status}}</div>
          </div>
          <div class="cover">
            <img [src]='movie.cover' style='width:100%;height:100%;'>
          </div>
        </div>
        <div class="empty"> </div>
        <div class="gif">
          <div *ngIf='movie.movieGif'>
            <div >Movie gif</div>
            <img [src]='movie.movieGif' style='width:100%;height:100%;'>
          </div>
          <div *ngIf='!movie.movieGif'>
            <div >Movie gif not found</div>
            <img src='https://media0.giphy.com/media/zLCiUWVfex7ji/giphy.gif' style='width:100%;height:100%;'>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
