h4 {
  color: black;
  font-size: 120%;
}

.modal-header, .modal-footer{
  background-color: darkgray;
}

.modal-body {
   background-image: url(https://media0.giphy.com/media/INheTmi5jomT6/200_s.gif);
   background-position: center top;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   color: white;
   text-shadow: 0 0 3px green;
}

.wrapper {
  display: flex;
}

.info {
  flex: 0 0 50%;
  margin: 5px;
}

.cover {
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gif {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.empty {
  height: 15px;
}
