<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>

  <div class='panel-body'>
    <div>
      <button id="addBtn" class="button glyphicon glyphicon-plus" type="button" data-toggle="modal" data-target="#addMovieWindow">Add</button>
      <div id="filterTable" class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <td>Filter by</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Title</td>
              <td><input class="form-control" type='text' [(ngModel)]='movieTitleFilter' /></td>
            </tr>
            <tr>
              <td>Genre</td>
              <td>
                <select class="form-control" [(ngModel)]='movieGenreFilter'>
                  <option value=""></option>
                  <option value="Comedy">Comedy</option>
                  <option value="Horror">Horror</option>
                  <option value="Action">Action</option>
                  <option value="Documentary">Documentary</option>
                  <option value="Thriller">Thriller</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="moviesTable" class='table-responsive col-md-offset-1'>
      <table class='table' *ngIf='_moviesService.movies && _moviesService.movies.length'>
        <thead class="moviesHead">
          <tr>
            <th>Title
              <div id="titleAsc" class="glyphicon glyphicon-arrow-up" (click)='setSortParams("title", true)'></div>
              <div class="glyphicon glyphicon-arrow-down" (click)='setSortParams("title", false)'></div>
            </th>
            <th>Genre
              <div class="glyphicon glyphicon-arrow-up" (click)='setSortParams("genre", true)'></div>
              <div class="glyphicon glyphicon-arrow-down" (click)='setSortParams("genre", false)'></div>
            </th>
            <th>Price
              <div class="glyphicon glyphicon-arrow-up" (click)='setSortParams("price", true)'></div>
              <div class="glyphicon glyphicon-arrow-down" (click)='setSortParams("price", false)'></div>
            </th>
            <th>Rating
              <div class="glyphicon glyphicon-arrow-up" (click)='setSortParams("rating", true)'></div>
              <div class="glyphicon glyphicon-arrow-down" (click)='setSortParams("rating", false)'></div>
            </th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let movie of _moviesService.movies | moviesFilter:movieTitleFilter:movieGenreFilter | sortMovies:orderBy:asc'>
            <td t1>{{movie.title}}</td>
            <td>{{movie.genre}}</td>
            <td>{{ movie.price | currency:'USD':true:'1.2-2' }}</td>
            <td>
              <rating id='stars' [(ngModel)]="movie.rating" [readonly]="true" [float]="true"></rating>
            </td>
            <td>
              <button *ngIf='movie.status == "FREE"' id="rentBtn" class='button glyphicon glyphicon-shopping-cart' (click)='setSelectedMovie(movie)' data-toggle="modal" data-target="#movieRentModalWindow"></button>
              <button id="editBtn" class='button glyphicon glyphicon-cog' (click)='setSelectedMovie(movie)' data-toggle="modal" data-target="#movieEditModalWindow"></button>
              <button id="infoBtn" class='button glyphicon glyphicon-info-sign' (click)='setSelectedMovie(movie)' data-toggle="modal" data-target="#movieInfoModalWindow"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <add-movie></add-movie>
  <!--addMovieWindow modal window-->
  <app-details [movie]='selectedMovie'></app-details>
  <edit-movie [editingMovie]='copiedMovie'></edit-movie>
  <rent-movie [movie]='selectedMovie'></rent-movie>
</div>
