.panel {
  background-image: url(../../assets/images/background_front.jpg);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  font-size: 115%;
}

.panel-heading {
  color: black;
  font-size: 120%;
}

.form-control {
  color: black;
}

#moviesTable {
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-shadow: 0 0 3px green;
}

th, td {
  text-align: center;
}

.button {
  text-align: center;
  border-radius: 12px;
}

#addBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  background-color: green;
  margin: 5px;
  float: right;
}

#rentBtn {
  background-color: red;
}

#editBtn {
  background-color: gray;
}

#infoBtn {
  background-color: blue;
}

#filterTable {
  width: 30%;
  font-size: 85%;
  text-shadow: 0 0 3px green;
}

#stars {
  font-size: 60%;
}
