<div id="addMovieWindow" class="modal fade" role="dialog" *ngIf='movie'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Movie</h4>
      </div>
      <div class="modal-body">
        <form #addMovie='ngForm'>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]='movie.title' name="title" #title='ngModel' required/>
            <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
              <div [hidden]='!title.errors.required'>
                Title is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="director">Director</label>
            <input type="text" class="form-control" id="director" [(ngModel)]='movie.director' name="director" #director='ngModel' required/>
            <div *ngIf="director.errors && (director.dirty || director.touched)" class="alert alert-danger">
              <div [hidden]='!director.errors.required'>
                Director is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="releasedYear">Release Date</label>
            <input class="form-control" id="releasedYear" type="date" [(ngModel)]='movie.releasedDate' name="releasedDate" #releasedDate='ngModel' required/>
            <div *ngIf="releasedDate.errors && (releasedDate.dirty || releasedDate.touched)" class="alert alert-danger">
              <div [hidden]='!releasedDate.errors.required'>
                Release date is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="genre">Genre</label>
            <select class="form-control" id="genre" [(ngModel)]='movie.genre' name="genre" #genre='ngModel' required>
              <option value=""></option>
              <option value="Comedy">Comedy</option>
              <option value="Horror">Horror</option>
              <option value="Action">Action</option>
              <option value="Documentary">Documentary</option>
              <option value="Thriller">Thriller</option>
            </select>
            <div *ngIf="genre.errors && (genre.dirty || genre.touched)" class="alert alert-danger">
              <div [hidden]='!genre.errors.required'>
                Genre is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" id="price" type="number" [(ngModel)]='movie.price' name="price" min="1.50" #price='ngModel' required/>
            <div *ngIf="price.errors && (price.dirty || price.touched)" class="alert alert-danger">
              <div [hidden]='!price.errors.required'>
                Price is required!
              </div>
              <div [hidden]='!price.errors.min'>
                Price must be over 1.50!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="coverUrl">Cover URL</label>
            <input class="form-control" id="coverUrl" type="url" [(ngModel)]='movie.cover' name="cover" pattern="https?://.+" #cover='ngModel' placeholder="https://" required/>
            <div *ngIf="cover.errors && (cover.dirty || cover.touched)" class="alert alert-danger">
              <div [hidden]='!cover.errors.required'>
                Cover URL is required!
              </div>
              <div [hidden]='!cover.errors.pattern'>
                Invalid URL!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="gifUrl">Movie Gif URL</label>
            <input class="form-control" id="gifUrl" type="url" [(ngModel)]='movie.movieGif' name="movieGif" pattern="https?://.+" #movieGif='ngModel' placeholder="https://" />
            <div *ngIf="movieGif.errors && (movieGif.dirty || movieGif.touched)" class="alert alert-danger">
              <div [hidden]='!movieGif.errors.pattern'>
                Invalid URL!
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="saveMovieBtn" [disabled]='!addMovie.form.valid' type="submit" class="btn btn-default" data-dismiss="modal" (click)='saveMovie();_moviesService.fbGetMovies();'>Save Movie</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
