<div id="movieRentModalWindow" class="modal fade" role="dialog" *ngIf='rent'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rent Movie</h4>
      </div>
      <div class="modal-body">
        <form #rentMovieForm='ngForm'>
          <div class="form-group">
            <label for="borrower">Borrower</label>
            <input type="text" class="form-control" id="borrower" [(ngModel)]='rent.borrower' name="borrower" #borrower='ngModel' required/>
            <div *ngIf="borrower.errors && (borrower.dirty || borrower.touched)" class="alert alert-danger">
              <div [hidden]='!borrower.errors.required'>
                Title is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lendDate">Lend Date</label>
            <input class="form-control" id="lendDate" type="date" [(ngModel)]='rent.lendDate' name="lendDate" #lendDate='ngModel' required/>
            <div *ngIf="lendDate.errors && (lendDate.dirty || lendDate.touched)" class="alert alert-danger">
              <div [hidden]='!lendDate.errors.required'>
                Lend date is required!
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="rentMovieBtn" [disabled]='!rentMovieForm.form.valid' type="submit" class="btn btn-default" data-dismiss="modal" (click)='rentMovie();_moviesService.fbGetMovies();'>Rent Movie</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
