body {
  padding-top: 10px;
  background-image: url(https://media4.giphy.com/media/TZf4ZyXb0lXXi/giphy.gif);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.starter-template {
  text-align: center;
}
