<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>

  <div class='panel-body'>
    <div id="filterTable" class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <td>Filter by</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Movie Title</td>
            <td><input class="form-control" type='text' [(ngModel)]='movieTitleRentFilter' /></td>
          </tr>
          <tr>
            <td>Borrower Name</td>
            <td><input class="form-control" type='text' [(ngModel)]='borrowerFilter' /></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="rentTable" class='table-responsive'>
      <table class='table' *ngIf='_rentService.rents && _rentService.rents.length'>
        <thead>
          <tr>
            <th>Movie Title<div id="titleAsc" class="glyphicon glyphicon-arrow-up" (click)='setSortParams("movieTitle", true)'></div><div class="glyphicon glyphicon-arrow-down" (click)='setSortParams("movieTitle", false)'></div></th>
            <th>Borrower<div class="glyphicon glyphicon-arrow-up" (click)='setSortParams("borrower", true)'></div><div class="glyphicon glyphicon-arrow-down" (click)='setSortParams("borrower", false)'></div></th>
            <th>Lend Date<div class="glyphicon glyphicon-arrow-up" (click)='setSortParams("lendDate", true)'></div><div class="glyphicon glyphicon-arrow-down" (click)='setSortParams("lendDate", false)'></div></th>
            <th>Return Date<div class="glyphicon glyphicon-arrow-up" (click)='setSortParams("returnDate", true)'></div><div class="glyphicon glyphicon-arrow-down" (click)='setSortParams("returnDate", false)'></div></th>
            <th>Unrewinded Tape</th>
            <th>Broken Tape</th>
            <th>Pay<div class="glyphicon glyphicon-arrow-up" (click)='setSortParams("pay", true)'></div><div class="glyphicon glyphicon-arrow-down" (click)='setSortParams("pay", false)'></div></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let rent of _rentService.rents | rentFilter:movieTitleRentFilter:borrowerFilter | sortRent:orderBy:asc'>
            <td t1>{{rent.movieTitle}}</td>
            <td>{{ rent.borrower }}</td>
            <td>{{ rent.lendDate | date}}</td>
            <td *ngIf='rent.returnDate'>{{ rent.returnDate | date}}</td>
            <td *ngIf='!rent.returnDate'></td>
            <td *ngIf='rent.unrewindedTape'><span class="glyphicon glyphicon-ok-circle"></span></td>
            <td *ngIf='!rent.unrewindedTape'></td>
            <td *ngIf='rent.brokenTape'><span class="glyphicon glyphicon-ok-circle"></span></td>
            <td *ngIf='!rent.brokenTape'></td>
            <td *ngIf='rent.pay'>{{ rent.pay | currency:'USD':true:'1.2-2' }}</td>
            <td *ngIf='!rent.pay'></td>
            <td>
              <button id="rentBtn" *ngIf='rent.pay == ""' (click)='selectRentedMovie(rent)' class='button' data-toggle="modal" data-target="#movieReturnModalWindow">Return</button>
            </td>
        </tbody>
      </table>
    </div>
    <return-movie [rent]='copiedRent'></return-movie>
  </div>
</div>
