.panel {
  background-image: url(../../assets/images/background_rents.jpg);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  font-size: 115%;
}

.panel-heading {
  color: black;
  font-size: 120%;
}

.form-control {
  color: black;
}

th, td {
  text-align: center;
}

#filterTable {
  width: 30%;
  font-size: 85%;
  text-shadow: 0 0 3px green;
}

.button {
  text-align: center;
  border-radius: 12px;
}

#rentBtn{
  background-color: blue;
}

#rentTable {
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-shadow: 0 0 3px green;
}
